<html lang="en">
<head>
	<meta charaset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ComputerJockey &ndash; Menu</title>
	<link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/3d-printing-icon-set/32/3d_print.png">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<div id = "menu" class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-selected" "pure-menu-heading">
		<li><a href="/" class="pure-menu-heading">ComputerJockey</a></li>
		<ul>
		  {% if not username %}
		  <li><a href="/login">My Profile</a></li>
		  <li><a href="/my-B">My Builds</a></li>
		  <li><a href="/build">Builds</a></li>
		  <li><a href="/about-us">About Us</a></li>
		  {% else %}
		  <li><a href="/"+username>My Profile</a></li>
		  <li><a href="/my-B">My Builds</a></li>
		  <li><a href="/build">Builds</a></li>
		  <li><a href="/about-us">About Us</a></li>
		</ul>
		{% if not username %}
		<a href ="/login" style="text-align:right;">Login</a>
		<a href ="/register"> Register</a>
		{% else %}
		Welcome {{username}}<a href ="/logout">Not you?</a>
	</div>
	
</head>

<body>
  {{ n || safe}}
</body>
<h1>Hi there</h1>









