
<html lang="en">
  <head>
    <meta charaset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComputerJockey &ndash; Menu</title>
    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/3d-printing-icon-set/32/3d_print.png">
    <link rel="stylesheet" href="../static/pure-skin-template.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <link rel="stylesheet" href="../static/button.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/grids-min.css">
    <div id = "menu" class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-selected pure-menu-heading pure-skin-template">
      <li><a href="/" class="pure-menu-heading">ComputerJockey</a></li>
      <ul>
	<li><a href="/build">Current Build</a></li>
	<!--{% if not username %}-->
	<!--{% else %}-->
	<li><a href="/saved">Saved Builds</a></li>
	<!--{% endif %}-->  
	<li><a href="/buildlist">Build List</a></li>	      
	
      </ul>
      
    </div>
    
    <style type="text/css">
     #main
     {
     position:absolute;
     top:40%;
     right:0;
     left:0;
     }
     
     #frm
     {
     display: inline-block;
     vertical-align: middle;
     line-height: 14px; 
     }
    </style>

  </head>

<body>
  <center>
    <div id="main">
      <form id="frm" class="pure-form" method="POST">
	<fieldset class="pure-group">
	  <input id="name" type="text" class="pure-input-1" placeholder="Username">
	  <input id="pass" type="password" class="pure-input-1" placeholder="Password">
	  <input id="confirmpass" type="password" class="pure-input-1" placeholder="Confirm Password">
	  <input id="email" type="email" class="pure-input-1" placeholder="Email">
	</fieldset>

	<button type="submit" class="pure-button pure-input-1 pure-button-primary">Sign Up</button> Have an account? <a href="/login">Login here</a>

      </form>
    </div>
  </center>

</body>
