
<html lang="en">
<head>
	<meta charaset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ComputerJockey &ndash; Menu</title>
	<link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/3d-printing-icon-set/32/3d_print.png">
	<link rel="stylesheet" href="../static/zurb/css/foundation.min.css">
	<link rel="stylesheet" href="../static/pure-skin-template.css">
	<link rel="stylesheet" href="../static/pure-min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
	<link rel="stylesheet" href="../static/button.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/grids-min.css">
	<!-- Broken Pure Code
	<div id = "menu" class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-selected pure-menu-heading pure-skin-template">
	  <li><a href="/" class="pure-menu-heading">ComputerJockey</a></li>
	  <ul>
	    <li>
	      <a href="/gpu">Video Card</a>
	    </li>
	    <li>
	      <a href="/cpu">Computer Processor</a>
	    </li>
	    <li>
	      <a href="/mobo">Motherboard</a>
	    </li>
	    <li>
	      <a href="/hdd">Hard Drive</a>
	    </li>
	    <li>
	      <a href="/ssd">SSD</a>
	    </li>
	    <li>
	      <a href="/ram">RAM</a>
	    </li>
	    <li>
	      <a href="/ram">Power Supply</a>
	    </li>
	    <li>
	      <a href="/tower">Cases</a>
	    </li>
	    
	  </ul>

	</div>
-->
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">ComputerJockey</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>
	  
	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	      <li class="active"><a href="#">Graphics Card</a></li>
	      <li class="active"><a href="#">Computer Processor</a></li>
	      <li class="active"><a href="#">Motherboard</a></li>
	      <li class="active"><a href="#">Hard Drive</a></li>
	      <li class="active"><a href="#">SSD</a></li>
	      <li class="active"><a href="#">RAM</a></li>
	      <li class="active"><a href="#">Cases</a></li>
	    </ul>
	    
	    <!-- Left Nav Section -->
	    <ul class="left">
	    </ul>
	  </section>
	</nav>
	
	<style>
	  
	  .side-menu{
	  background : #000;
	  }
	  
	  .select:hover{
	  background-color:#202020;
	  }
	  
	  .build-box{
	  padding: 1em;
	  }
	  
	</style>
	
</head>

<body>  
  <left>

    <div class="pure-g-r">
      <div class="pure-u-1-5">
	<p>
	  <a href="/login">Login here!</a> or 
	  <a href="/login">Register here!</a>
	  {{Input Jinja Here}}
	</p>
	<p>
	  <center>
	    <button class="pure-button button-login">
	      <i class="icon-desktop"></i>
	      Start Building!
	    </button>
	  </center>
	</p>
	<!--
	  <center>
            <p class="select"><a href="/gpu" style="text-decoration:none"><font color="#ffffff">Graphics Card</font></a></p>
	    <p class="select"><a href="/cpu" style="text-decoration:none"><font color="#ffffff">Computer Processor</font></a></p>
	    <p class="select"><a href="/mobo" style="text-decoration:none"><font color="#ffffff">Motherboard</font></a></p>
	    <p class="select"><a href="/hdd" style="text-decoration:none"><font color="#ffffff">Hard Drive</font></a></p>
	    <p class="select"><a href="/ssd" style="text-decoration:none"><font color="#ffffff">SSD</font></a></p>
	    <p class="select"><a href="/ram" style="text-decoration:none"><font color="#ffffff">RAM</font></a></p>
	    <p class="select"><a href="/case" style="text-decoration:none"><font color="#ffffff">Tower</font></a></p>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <p class="select"><a href="/about" style="text-decoration:none"><font color="#ffffff">About us</font></a></p>

          </center>
-->   
   </div>

      <div class="pure-u-1-12">
      </div>
      
       <div class="pure-u-1-5">
	<br>
	<br>
        <table class="pure-table">
	  <tbody>
	    <tr>
	      <td>{{Build Name}}</td>
	    </tr>
	    <tr>
	      <td><img src="path" width=150 height=200></td>
	    </tr>
	    <tr>
	      <td></td> 
	    </tr>
	    <tr>
	      <td></td> 
	    </tr>
	   <tr>
	      <td></td> 
	    </tr>
	   <tr>
	      <td></td> 
	    </tr>
	   <tr>
	      <td></td> 
	    </tr>	 
	    <tr>
	      <td></td> 
	    </tr>
	    
	    <!-- Build 2-->
	    <tr>
	      <td>{{Build Name 2}} </td> 
	    </tr>
	    <tr>
	      <td><img src="path2" width=150 height=200></td>
	    </tr>
	    <tr>
	      <td></td> 
	    </tr>
	    <tr>
	      <td></td> 
	    </tr>
	    <tr>
	      <td></td> 
	    </tr>
	    <tr>
	      <td></td> 
	    </tr>

	  </tbody>
	</table>
      </div>

      <div class="pure-u-2-5">
	<br>
	<br>
	<left>
        <table class="pure-table pure-table-horizontal">
	  <tbody>
	    <tr>
	      <td>Specs of {{Build Name}}</td>
	    </tr>
	    <tr>
	      <td>GPU</td>
	    </tr>
	    <tr>
	      <td>CPU</td>
	    </tr>
	    <tr>
	      <td>Mobo</td>
	    </tr>
	    <tr>
	      <td>HDD</td>
	    </tr>
	    <tr>
	      <td>SSD</td>
	    </tr>
	    <tr>
	      <td>RAM</td>
	    </tr>
	    <tr>
	      <td>Tower</td>
	    </tr>
	    <!-- Build 2-->
	    <tr>
	      <td></td>
	    </tr>
	    <tr>
	      <td>Specs of {{Build Name 2}}</td>
	    </tr>
	    <tr>
	      <td>GPU</td>
	    </tr>
	    <tr>
	      <td>CPU</td>
	    </tr>
	    <tr>
	      <td>Mobo</td>
	    </tr>
	    <tr>
	      <td>HDD</td>
	    </tr>
	    <tr>
	      <td>SSD</td>
	    </tr>
	    <tr>
	      <td>RAM</td>
	    </tr>
	    <tr>
	      <td>Tower</td>
	    </tr>
	  </tbody>
	</table>
	</left>
      </div>
   
    </div>
  </left>
</body>
